#main {
  background: #c1cfda;
}
body header h1 {
  text-align: center;
}
body header h2 {
  text-align: center;
}
#img-div {
  background: white;
  border-radius: 40px;
  padding: 20px;
  margin-left: 200px;
  margin-right: 150px;
}
#image {
  padding: 20px;
  width: 60em;
  padding: auto;
}
#img-caption {
  text-align: center;
}
article h2 {
  text-align: center;
}
#title {
  font-size: 3em;
  font-weight: bold;
}
.timeline {
  margin-left: 80px;

  font-size: 20px;
  line-height: 2.5em;

}
