#main {
  background: #c1cfda;
}
body header h2 {
  text-align: center;
}

#img-div {
  background: #ede7d9;
  border-radius: 40px;
  padding: 30px;
  margin: 0 auto;
  width: auto;
  height: auto;
  max-width: 700px;
}
#image {
  /* This width being 100% means that whatever the width of the parent element changes to this will also change to that. It resizes based on the width of the parent element. */
  width: 100%;
  height: auto;
  /* The max width means that the width can not exceed this width but it can go below. */
  max-width: 700px;
  margin: 0 auto;
  display: block;
}
#img-caption {
  text-align: center;
}
article h2 {
  text-align: center;
}
#title {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}
ul {
  margin: 0 auto;
  max-width: 50%;
  line-height: 1.5em;
  background: #ede7d9;
  border-radius: 20px;
  padding: 40px;
}

a:visited {
  color: red;
}
